Projects/SensorTile/Applications/DataLog/SW4STM32/STM32L4xx-SensorTile/Release/STM32L4xx-SensorTile.elf
Projects/SensorTile/Applications/DataLog/SW4STM32/STM32L4xx-SensorTile/Release/DataLog/User/datalog_application.o
Projects/SensorTile/Applications/DataLog/SW4STM32/STM32L4xx-SensorTile/Release/DataLog/User/main.o
